body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    margin: 0;
}

.kasten {
  width: 1000px;
  height: 500px;
  background-color: #ffa1c8;
  border: solid black;
  border-radius: 8px;
  padding: 12px;
  display: flex;          /* NEU - damit oben/unten funktioniert */
  flex-direction: column; /* NEU - übereinander */
  align-items: center;    /* zentriert oben & unten horizontal */
  gap: 12px;              /* NEU - Abstand zwischen oben & unten */
  margin: 40px auto; /* ← zentriert den kasten! */
}

