body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    margin: 40px;
}

.kasten {
  width: 500px;
  height: 400px;
  background-color: #ecb4cc;
  border: solid rgb(48, 101, 34);
  border-radius: 8px;
  padding: 12px;

  margin-left: auto; /* 👉 schiebt die Box nach rechts */
}

